
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #58BD59;
    overflow-x: hidden;
}

p {
    color: #fff;
}

h1 {
    color: #fff;
}

header {
    color : #fff;
    display: flex;
    justify-content: flex-end;
}

.flags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flags img#flag {
    width: 2.5vw;
    margin-left: 1vh;
}

.titles {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

p.SantaMessage {
    margin: 0;
}

.hatOnText {
    margin-left: -5vw;
}

h1.userInput {
    margin: 0;
}

img.flag {
    position: absolute;
    width: 2.5vw;
    margin-left: 0.15vh;
    margin-top: -1.2vh;
}

.userInput {
    display: flex;
    justify-content: center;
}

.userInput input#userInput {
    border: none;
    background-color: #fff;
    color: #58BD59;
    font-size: 1.5vw;
    width: 23vw;
    text-align: center;
    height: 3vw;
    margin-left: -5vw;
}

.secondLayer
{
    display: flex;
    justify-content: space-around;
}

.userInput input#userInput::placeholder {
    color: #58BD59;
}

button#button {
    background-color: #3d883e;
    color: #fff;
    font-size: 1.5vw;
    width: 50%;
    height: 3vw;
    border: none;
    margin-left: 1vw;
}


button#button:hover {
    background: #419642;
    transform: scale(1.1);
    transition: 0.5s;
}


.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

p#remainingNumbers {
    display: flex;
    justify-content: space-around;
}

.mapHolder img#map {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5vh;
    line-height: 2.5vh;
    background-color: #58BD59;
    color: #fff;
    text-align: center;
}

footer .footerText .links {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.links a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}


footer .footerText #SantaHead {
    margin-right: 1vw;
    width: 2.5vh;
}

footer .footerNotes {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footerNotes p#copyright {
    margin: 0;
    margin-top: 1vh;
}

.snowflake {
    position: absolute;
    display: block;
    margin-top: -29%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -ms-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
}

#snow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* create a media query for the screen with less than 430px width */
@media screen and (max-width: 430px) {
    .flags img#flag {
        width: 4.5vw;
        margin-left: 1vh;
    }
    h1.userInput {
        font-size: 4vw;
    }
    p.SantaMessage {
        font-size: 3vw;
    }
    .timeLeft {
        font-size: 3vw;
    }
    input.userInput {
        width: 100%;
    }
}

@media screen and (max-height: 512px){
    .mapHolder img#map {
        top: 10vh;
    }
}
@media screen and (max-height: 280px) { 
    .mapHolder img#map {
        top: 35vh;
        right: 40vw;

    }
    
}