body {
    background-color: #58BD59;
    overflow-x: hidden;
}

html {
    font-family: 'Montserrat', sans-serif;
}

#text1 {
    color: white;
    position: relative;
    left: 5vw;
    top: 1vh;
    font-size: 180%;
}

/* Flag */
#flags {
    position: relative;
    left: 92vw;
}

#flags img {
    width: 3%;
}

#flags img:hover {
    cursor: pointer;
}

/* input design */
input {
    position: relative;
    top: 2vh;
    left: 5vw;
    width: 32%;
    height: 6vh;
    color: #58BD59;
    z-index: 1;
    border-radius: 5px;
    border: none;
    font-size: 110%;
    text-align: center;
}

#input::placeholder {
    text-align: center;
    color: #58BD59;
}

#text2 {
    color: white;
    position: relative;
    left: 74vw;
    top: -15vh;
    font-size: 105%;
}

/*  Remaining Time Design */
#remaining {
    position: relative;
    color: white;
    width: 50%;
    height: 5%;
    font-size: 220%;
    left: 68vw;
    top: -15vh;
    word-spacing: 0.4em;

}

#Days {
    position: relative;
    color: white;
    left: 68vw;
    top: -15vh;
    font-size: 115%;
}

#Hours {
    position: relative;
    color: white;
    left: 74.7vw;
    top: -18.2vh;
    font-size: 115%;
}

#Minutes {
    position: relative;
    color: white;
    left: 81vw;
    top: -21.5vh;
    font-size: 115%;
}

#Seconds {
    position: relative;
    color: white;
    left: 88vw;
    top: -24.6vh;
    font-size: 115%;
}

/* Snowflakes design */
.snowflake {
    position: absolute;
    display: block;
    margin-top: -29%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -ms-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
}

#snow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Map */
#map {
    position: relative;
    top: -47vh;
    left: 15vw;
    max-width: 60%;
}

/* Design Button Search */
#searchButton {
    position: relative;
    top: -4vh;
    left: 37.8vw;
    width: 8%;
    height: 6vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #3d883e;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    z-index: 1;

}

button:focus {
    outline: none;
}

button img {
    margin-left: 10%;
    max-width: 30%;
}

button span {
    margin-left: 10%;
    color: white;
    font-weight: bold;
}

#searchButton:hover {
    background: #419642;

}

/* Footer Design */

#foot {
    position: relative;
    left: -4vw;
    bottom: 45vh;
    width: 130vw;
    height: 15vh;
    background-color: #3d883e;
    color: white;
    font-size: 83%;

}

#licences {
    position: relative;
    text-align: center;
    justify-content: center;
    bottom: -10vh;
    left: -1vw;
}

a {
    color: white;
}

a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}

/* responsive cases */

@media only screen and (max-width: 620px) {
    div {
        position: static;
    }

    #text1, #text2, #input, #remaining {
        width: 100vw;
    }

    #searchButton {
        width: 30vw;
        align-self: center;
    }

    #days, #Hours, #Minutes, #seconds {
        left: 20vw;
    }

    #map {
        width: 20vw;
        align-self: center;
    }

}