/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .mapHolder img {
        display: flex;
        margin: auto;
        height: 55vh;
    }

    .mapHolder {
        position: absolute;
        display: flex;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .userInput {
        margin-left: 2vw;
        display: inline-flex;
        height: 10vh;
    }

    .titles {
        text-align: center;
        margin-top: 6vh;
        flex-direction: column;
        width: 60%;
        text-align: start !important;
    }

    input {
        height: 6vh;
        width: 45vw !important;
        margin-top: 3vh;
        justify-self: baseline !important;
        font-size: 2.5vh;
    }

    button {
        height: 6.5vh !important;
        width: 10vw !important;
        margin: 3vh 0 0 2vw !important;
        border-radius: 10px;
        font-size: 2vh;
    }

    button#button:hover {
        background: #419642;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .secondLayer {
        text-align: center;
        margin-top: 4vh;
        margin-right: 2vw;
        position: absolute;
        top: 1vh;
        right: 2vw;
    }

    #remainingNumbers {
        font-size: 240%;
        margin: 3vh 0vw;
    }

    .SantaMessage {
        font-size: 140% !important;
        margin: 7vh 0 0;
    }

    #remainingDays {
        font-size: 120%;
        margin-top: -1vh
    }

    footer {
        height: 10vh !important;
        width: 100vw;
        overflow: scroll;
        font-size: 1vh;
        width: 100vw !important;
    }

    footer a {
        margin-top: -0.3vh;
    }

    .hat {
        margin-left: 3vw;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .en {
        margin-right: 3vw;
    }

    .mapHolder img {
        display: flex !important;
        margin: auto;
        height: 55vh
    }

    .mapHolder {
        position: absolute;
        display: flex !important;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .userInput {
        height: 10vh;
        margin-left: 2vw;
        display: inline-flex
    }

    .titles {
        text-align: center;
        margin-top: 6vh;
        flex-direction: column;
        width: 60%;
        text-align: start !important;
    }

    input {
        height: 6vh;
        width: 45vw !important;
        margin-top: 3vh;
        justify-self: baseline !important;
        font-size: 2.5vh;
    }

    button {
        height: 6.5vh !important;
        width: 10vw !important;
        margin: 3vh 0 0 2vw !important;
        border-radius: 10px;
        font-size: 2vh;
    }

    button#button:hover {
        background: #419642;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .secondLayer {
        text-align: center;
        margin-top: 4vh;
        margin-right: 2vw;
        position: absolute;
        top: 1vh;
        right: 2vw;
    }

    #remainingNumbers {
        font-size: 240%;
        margin: 3vh 0vw;
    }

    .SantaMessage {
        font-size: 140% !important;
        margin: 7vh 0 0;
    }

    #remainingDays {
        font-size: 120%;
        margin-top: -1vh
    }

    footer {
        height: 10vh !important;
        overflow: scroll;
        font-size: 1.2vh;
        width: 100vw !important;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
    + map
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .mapHolder img {
        display: flex !important;
        margin: auto;
        height: 55vh
    }

    .mapHolder {
        position: absolute;
        display: flex !important;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .userInput {
        height: 9vh;
        margin-left: 2vw;
        display: inline-flex
    }

    .titles {
        text-align: center;
        margin-top: 6vh;
        flex-direction: column;
        width: 60%;
    }

    input {
        height: 6vh;
        width: 40vw !important;
        margin-top: 3vh;
        justify-self: baseline !important;
        font-size: 2.5vh;
    }

    button {
        height: 6.5vh !important;
        width: 10vw !important;
        margin: 3vh 0 0 2vw !important;
        border-radius: 10px;
        font-size: 2vh;
    }

    button#button:hover {
        background: #419642;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .secondLayer {
        text-align: center;
        margin-top: 4vh;
        margin-right: 2vw;
        position: absolute;
        top: 1vh;
        right: 2vw;
    }

    #remainingNumbers {
        font-size: 240%;
        margin: 3vh 0vw;
    }

    .SantaMessage {
        font-size: 140% !important;
        margin: 7vh 0 0;
    }

    #remainingDays {
        font-size: 120%;
        margin-top: -1vh
    }

    footer {
        height: 10vh !important;
        overflow: scroll;
        font-size: 1vh;
        width: 100vw !important;
    }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .en {
        right: 8vw !important;
        z-index: 10;
    }

    .fr {
        right: 2vw !important;
        z-index: 10;
    }

    .mapHolder {
        display: none;
    }

    div {
        display: grid;
    }

    .hat {
        height: 7vh;
        margin-left: 1vw;
    }

    .titles {
        text-align: center;
        margin-top: 6vh;
    }

    input {
        height: 6vh;
        width: 60vw;
        margin-top: 3vh;
        justify-self: center;
        font-size: 2.5vh;

    }

    button {
        height: 6vh;
        width: 50vw;
        margin: 2vh;
        border-radius: 10px;
        justify-self: center;
        font-size: 2vh
    }

    button#button:hover {
        background: #419642;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .secondLayer {
        text-align: center;
        margin-top: 4vh;
    }

    #remainingNumbers {
        font-size: 240%;
    }

    .SantaMessage {
        font-size: 174%
    }

    #remainingDays {
        font-size: 120%;
        margin-top: -1vh
    }

    footer {
        width: 100vw !important;
    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .en {
        right: 9vw !important;
    }

    .fr {
        right: 2vw !important;
    }

    .en, .fr {
        height: 4vh !important;
        z-index: 10;
    }

    .mapHolder {
        display: none;
    }

    div {
        display: grid;
    }

    .titles {
        text-align: center;
        margin-top: 2vh;
    }

    input {
        height: 6vh;
        width: 90vw;
        margin-top: 3vh;
        justify-self: center;
        font-size: 2vh;

    }

    button {
        height: 5vh;
        width: 70vw;
        margin: 1vh;
        border-radius: 10px;
        justify-self: center;
        font-size: 2vh
    }

    button#button:hover {
        background: #419642;
        transform: scale(1.1);
        transition: 0.5s;
    }

    #errorMessage {
        margin-top: 10.5vh;
        text-align: center;
    }

    #Example {
        margin-top: 8.5vh;
        text-align: center;
    }

    .secondLayer {
        text-align: center;
        margin-top: 4vh;
    }

    #remainingNumbers {
        font-size: 202%;
    }

    .SantaMessage {
        font-size: 150%
    }

    #remainingDays {
        font-size: 120%;
        margin-top: -1vh
    }

    .userInput {
        height: 10vh;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    footer {
        font-size: 1.8vh;
        width: 100vw !important;
    }

    .hat {
        margin-top: 3vh;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = to 479px
*/

@media (min-width: 438px) and (max-width: 480px) {

    .en {
        right: 10vw !important;
    }

    .fr {
        right: 1.5vw !important;
    }

    .en, .fr {
        height: 4vh !important;
        top: 2vh !important;
        z-index: 10;
    }

    .mapHolder {
        display: none;
    }

    div {
        display: grid;
    }

    .titles {
        text-align: center;
        margin-top: 2vh;
    }

    input {
        height: 6vh;
        width: 90vw;
        margin-top: 3vh;
        justify-self: center;
        font-size: 2vh;

    }

    button {
        height: 5vh;
        width: 70vw;
        margin: 2vh;
        margin-bottom: 2vh;
        border-radius: 10px;
        justify-self: center;
        font-size: 2vh
    }

    button#button:hover {
        background: #419642;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .secondLayer {
        text-align: center;
        margin-top: 4vh;
    }

    #remainingNumbers {
        font-size: 202%;
        margin-top: 0
    }

    .SantaMessage {
        font-size: 150%;
        margin-top: 10vh;
    }

    #remainingDays {
        font-size: 120%;
        margin-top: -1vh
    }

    .userInput {
        height: 8vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hat {
        margin-top: 3vh;
        margin-left: 1vw;

    }

    footer {
        font-size: 1.8vh;
    }

}

@media (max-width: 437px) {

    .en {
        right: 10vw !important;
    }

    .fr {
        right: 1.5vw !important;
    }

    .en, .fr {
        height: 4vh !important;
        top: 2vh !important;
        z-index: 10;
    }

    .mapHolder {
        display: none;
    }

    div {
        display: grid;
    }

    .titles {
        /* text-align: center; */
        margin-top: 2vh;
    }

    input {
        height: 6vh;
        width: 80vw;
        margin-top: 3vh;
        justify-self: center;
        font-size: 2vh;
        display: block;
    }

    button {
        height: 5vh;
        width: 70vw;
        margin: 2vh;
        margin-bottom: 2vh;
        border-radius: 10px;
        justify-self: center;
        font-size: 2vh
    }

    button#button:hover {
        background: #419642;
        transform: scale(1.1);
        transition: 0.5s;
    }

    #errorMessage {
        margin-top: 10.5vh;
        text-align: center;
    }

    #Example {
        margin-top: 8.5vh;
        text-align: center;
    }

    .secondLayer {
        text-align: center;
        margin-top: 4vh;
    }

    #remainingNumbers {
        font-size: 202%;
        margin-top: 0
    }

    .SantaMessage {
        font-size: 150%;
        margin-top: 10vh;
    }

    #remainingDays {
        font-size: 120%;
        margin-top: -1vh
    }

    .userInput {
        height: 8vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hat {
        margin-top: 3vh;
        height: 5vh;
        margin-left: 10vw;

    }

    footer {
        font-size: 1.8vh;
    }
}


body {
    background-color: #5ac05b;
    color: #E9E9E9;
    font-family: Montserrat, sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

input {
    background-color: #E9E9E9;
    border: 0px;
}

input::placeholder {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #58BD59;
}

input:valid {
    background-color: #E9E9E9;
    color: #58BD59;
}

button {
    background-color: #32794B;
    color: #E9E9E9;
    border: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 16vh;
    background-color: #32794B;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#ALGOSUP {
    margin-top: -1vh;
}

/* #feedback, #copyright{
    margin-top: -0.1vh;
} */

#copyright {
    text-align: center;
}

a {
    color: #E9E9E9;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    /* margin: 0.5vh */
}

.fr, .en {
    position: absolute;
    height: 5vh;
    top: 3vh;
    z-index: 10;
}

.fr {
    right: 1vw;
}

.en {
    right: 5vw;
}

.snowflake {
    position: absolute;
    display: block;
    margin-top: -29%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -ms-radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(center,
            circle farthest-corner,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
}

#snow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}



footer {
    font-size: 1.2vh;
}

#errorMessage {
    margin-left: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
}

#Example {
    margin-left: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

#userInput {
    text-align: center;
}

#here {
    color: red;
    font-size: 30px;
    z-index: 2;
    display: none;
}
.hat{
    -webkit-user-drag: none;
}