body{
    background-color: #58BD59;
    overflow: hidden;
}

html{
      font-family: 'Montserrat', sans-serif;
}
#text1{
    color: white;
    position: absolute;
    margin-left:5%;
    margin-top: 2%;
    font-size: 180%;
}
/* input design */
input{
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
    height: 6%;
    color: #58BD59;
    z-index: 1;
    border-radius: 5px;
    border: none;
    font-size: 110%;
    text-align: center;
}

input#input::placeholder{
    text-align: center;
    color: #58BD59;
}
#text2{
    position: absolute;
    color: white;
    position: absolute;
    margin-left: 72%;
    margin-top: 1.3%;
    font-size: 105%;
}
/*  Remaining Time Design */
#remaining{
    position: absolute;
    color:white;
    width: 50%;
    height: 5%;
    font-size: 220%;
    margin-left: 68%;
    margin-top: 3%;
    word-spacing: 0.4em;

}
#Days{
    position: absolute;
    color: white;
    position: absolute;
    margin-left: 68%;
    margin-top: 6%;
    font-size: 115%;
}
#Hours{
    position: absolute;
    color: white;
    position: absolute;
    margin-left: 75%;
    margin-top: 6%;
    font-size: 115%;
}
#Minutes{
    position: absolute;
    color: white;
    position: absolute;
    margin-left: 82%;
    margin-top: 6%;
    font-size: 115%;
}
#Seconds{
    position: absolute;
    color: white;
    position: absolute;
    margin-left: 89%;
    margin-top: 6%;
    font-size: 115%;
}
/* Snowflakes design */
.snowflake {
	position: absolute;
	display: block;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-image: -webkit-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: -moz-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: -ms-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
}
#snow {
	position: absolute;
	width: 100%;
	height: 100%;
    z-index: -1;
}

img#map{
    position: absolute;
    margin-top: 0%;
    margin-left: 15%;
    max-width: 60%;
}
footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        background-color: #145e15;
        color: white;
        text-align: center;
}

/* Design Button Search */
button#searchButton {
    position:absolute;
    margin-top: 5.1%;
    margin-left: 37%;
	width: 8%;
    height: 6%;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: #3d883e;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    z-index: 1;
}


button:focus {
	outline: none;
}
button img {
    margin-left: 10%;
	max-width: 30%;
}
button span {
    margin-left: 10%;
    color: white;
	font-weight: bold;
}
button#searchButton:hover{
    background: #419642;
    transform: scale(1.1);
    transition: 0.5s;
}

