body{
    background-color: #58BD59;
}
#text1{
    color: white;
    position: absolute;
    margin-left:5%;
    margin-top: 2%;
    font-size: 180%;
}
#input{
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
    height: 5%;
    color: #58BD59;
}
#input::placeholder{
    text-align: center;
    color: #58BD59;

}
#searchButton{
    position:absolute;
    margin-top: 5%;
    margin-left: 37%;
    width: 5%;
    height: 6%;

}
#text2{
    position: absolute;

    color: white;
    position: absolute;
    margin-left: 72%;
    margin-top: 1.3%;
    font-size: 105%;
}
#remaining{
    position: absolute;
    color:white;
    width: 50%;
    height: 5%;
    font-size: 220%;
    margin-left: 68%;
    margin-top: 3%;
    word-spacing: 0.4em;

}
#text3{
    position: absolute;
    color: white;
    position: absolute;
    margin-left: 68%;
    margin-top: 6%;
    font-size: 115%;
    word-spacing: 2.1em;
}

.snowflake {
	position: absolute;
	display: block;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-image: -webkit-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: -moz-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: -ms-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
}
#snow {
	position: absolute;
	width: 100%;
	height: 100%;
    z-index: -1;
}